.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 90px;
  }
  .footer-left {
    display: block;
    float:left;
    flex-direction: column;
  }

  .footer-left a{
    margin-left: 10px;
    justify-content: flex-start;
    
  }
  
  .social-icons {
    margin-bottom: 20px;
    float: right;
    padding-right: 10px;
    justify-content: space-evenly;
  }
  
  .social-icons a {
    margin-right: 10px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #ff5e5e;
    cursor: pointer;
  }
  
  .icon {
    vertical-align: middle;
  }
  .footp p {
    flex: 0;
  }
  
  @media (min-width: 768px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      
    } 
    .footer a{
      font-size: 1.5rem;
    }
    .social-icons {
      margin-bottom: 0;
    }
  }